<!DOCTYPE html>
<html>

<head>
    <title>Course Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #7abecc !important;
        }
    </style>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'reg_app:home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reg_app:course_registration' %}">Course Regestration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'reg_app:dashboard' st_ins.st_id %}">DashBoard</a>
            </li>
        </ul>

    </div>
</nav>
<section>


    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'reg_app:course_registration' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Student
                            Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" name="stu_name"
                                   placeholder="Student Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Student
                            Id:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" min="6" max="6" id="colFormLabelSm" name="st_id"
                                   placeholder="Student Id">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Student
                            Type:</label>
                        <div class="col-sm-6">
                            <select name="stu_type" id="">
                                <option value="regular">Regular</option>
                                <option value="iregular">Retake</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm"
                               class="col-sm-2 col-form-label col-form-label-sm">Department:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" name="department"
                                   placeholder="Department">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Semester
                            Enrolled:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" name="semester"
                                   placeholder="Semester Enrolled">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Semester
                            Name: </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" name="semester_name"
                                   placeholder="col-form-label-sm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Total Taken
                            Credit:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" name="credit"
                                   placeholder="Total Taken Credit">
                        </div>
                    </div>


                    <div class="col-12">
                        <h2>Course Information</h2>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sl No</th>
                                <th scope="col">Course Name</th>
                                <th scope="col">Course Code</th>
                                <th scope="col">Credit Hours</th>
                                <th scope="col">Sub Selection</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <th scope="row">1</th>
                                <td>Chemistry</td>
                                <td>CHEM-2301</td>
                                <td class="text-center">3</td>
                                <td class="text-center"><input class="form-check-input" type="checkbox"
                                                               id="inlineCheckbox1" name="subjects"
                                                               value="Chemistry"></td>
                                <td><select name="che_status" id="">
                                    <option value="regular">Regular</option>
                                    <option value="retake">Retake</option>
                                </select></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Computer Programing lab-1</td>
                                <td>CSE-1122</td>
                                <td class="text-center">1.5</td>
                                <td class="text-center"><input class="form-check-input" type="checkbox"
                                                               id="inlineCheckbox1" name="subjects"
                                                               value="Computer Programing lab-1"></td>
                                <td><select name="prg_status" id="">
                                    <option value="regular">Regular</option>
                                    <option value="retake">Retake</option>
                                </select></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Sciences of Quran Hadith</td>
                                <td>URED-2302</td>
                                <td class="text-center">1</td>
                                <td class="text-center"><input class="form-check-input" type="checkbox"
                                                               id="inlineCheckbox1" name="subjects"
                                                               value="Sciences of Quran Hadith"></td>
                                <td><select name="sqd_status" id="">
                                    <option value="regular">Regular</option>
                                    <option value="retake">Retake</option>
                                </select></td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Data Structure</td>
                                <td>cse-2321</td>
                                <td class="text-center">3</td>
                                <td class="text-center"><input class="form-check-input" type="checkbox"
                                                               id="inlineCheckbox1" name="subjects"
                                                               value="Data Structure"></td>
                                <td><select name="ds_status" id="">
                                    <option value="regular">Regular</option>
                                    <option value="retake">Retake</option>
                                </select></td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Data Structure lab</td>
                                <td>cse-2322</td>
                                <td class="text-center">1</td>
                                <td class="text-center"><input class="form-check-input" type="checkbox"
                                                               id="inlineCheckbox1" name="subjects"
                                                               value="Data Structure lab"></td>
                                <td><select name="dsl_status" id="">
                                    <option value="regular">Regular</option>
                                    <option value="retake">Retake</option>
                                </select></td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Digital Logic Design</td>
                                <td>cse-2323</td>
                                <td class="text-center">3</td>
                                <td class="text-center"><input class="form-check-input" type="checkbox"
                                                               id="inlineCheckbox1" name="subjects"
                                                               value="Digital Logic Design"></td>
                                <td><select name="dld_status" id="">
                                    <option value="regular">Regular</option>
                                    <option value="retake">Retake</option>
                                </select></td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Digital Logic Design lab</td>
                                <td>cse-2324</td>
                                <td class="text-center">1.5</td>
                                <td class="text-center"><input class="form-check-input" type="checkbox"
                                                               id="inlineCheckbox1" name="subjects"
                                                               value="Digital Logic Design lab"></td>
                                <td><select name="dldl_status" id="">
                                    <option value="regular">Regular</option>
                                    <option value="retake">Retake</option>
                                </select></td>
                            </tr>
                            </tbody>
                        </table>


                        <div class="d-flex justify-content-center pt-3">
                            <button type="submit" class="btn btn-lg btn-warning">Submit</button>
                        </div>


                    </div>
                </form>
            </div>


        </div>
    </div>
</section>

<div class="container pt-5">
    <div class="row">


    </div>
</div>


<br><br><br>
</body>

</html>