{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #7abecc !important;
        }
    </style>


</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'reg_app:home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reg_app:course_registration' %}">Course Regestration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'reg_app:dashboard' %}">DashBoard</a>
            </li>
        </ul>

    </div>
</nav>
<section>
    <div class="container ">
        <div class="row">
            <div class="col-12 justify-content-center">
                <div class="col-6 float-left">
                    <div class="d-flex justify-content-center pt-5">
                        <a href="{% url 'reg_app:course_registration' %}">
                            <button type="button" class="btn btn-lg btn-primary">Course Registration</button>
                        </a>

                    </div>
                    <div class="d-flex justify-content-center pt-5">
                        <button type="button" class="btn btn-lg btn-success">Add/Drop</button>
                    </div>
                    <div class="d-flex justify-content-center pt-5">
                        <button type="button" class="btn btn-lg btn-danger">Withdraw</button>
                    </div>
                    <div class="d-flex justify-content-center pt-5">
                        <button type="button" class="btn btn-lg btn-warning">Payment History</button>
                    </div>
                </div>
                <div class="col-6 float-left">
                    <div class="d-flex justify-content-center pt-5">
                        <button type="button" class="btn btn-lg btn-info">Result View</button>
                    </div>
                    <div class="d-flex justify-content-center pt-5">
                        <button type="button" class="btn btn-lg btn-danger">Course Status</button>
                    </div>
                    <div class="d-flex justify-content-center pt-5">
                        <a href="{% url 'reg_app:dashboard' %}">
                            <button type="button" class="btn btn-lg btn-warning">Profile</button>
                        </a>

                    </div>
                    <div class="d-flex justify-content-center pt-5">
                        <button type="button" class="btn btn-lg btn-dark">Logout</button>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
</body>

</html>